---
import Section from "../Section.astro";
import { informacion_personal } from "@cv-es";

interface Props {
  title: string;
  summary: string;
}

const { summary, title } = Astro.props;
---

<Section title={title}>
  <p>{summary}</p>
</Section>
